//--------------------------------DESKTOP STYLES--------------------------------//


@media (min-width: 1024px){

    body{
        text-align: start;
    }

    //--------------MAIN INDEX--------------

    // LAYOUT

    .mainIndex{
        display: grid;
        grid-template-areas: 
        "Slogan Slogan Slogan Slogan"
        "Ofertas Ofertas Ofertas Ofertas"
        "Interesar Interesar Interesar Interesar"
        "Novedades Novedades Novedades Novedades";
    }


    // ESTILOS

    .mainIndex{

        .nombre{
            height: 100vh;
            width: 98.9vw;
        }

        .sectionOferta{
           
            h2{
                text-align: start;
            }

            .productoOferta{
                display: flex;
                justify-content: space-around;

                div{
                    justify-content: center;
                    width: 12.5rem;
                    padding: 1.5rem;
                }
            }
        }
    }



    //--------------MAIN PRODUCTOS--------------

    //LAYOUT

    .mainProductos{
        display: grid;
        grid-template-areas: 
        "Titulo Titulo Titulo Titulo"
        "Productos Productos Productos Productos"
        "Imagenes Imagenes Imagenes Imagenes"
        "Comida Comida Comida Comida"
        "Bebida Bebida Bebida Bebida"
        "Limpieza Limpieza Limpieza Limpieza"
        "Regalería Regalería Regalería Regalería";
    }

    // ESTILOS

    .mainProductos{
        
        .nombreProductos{

            height: 100vh;
            width: 98.9vw;

            h1,h2{
                margin-left: 4rem;
            }
        }

        .imgsections{
            img{
                height: 10.5rem;
                width: 10.5rem;
            }
        }

        section{
            
            h2{
                margin-top: 3rem;
                margin-left: 4rem;
            }

            p{
                margin-left: 4rem;
                margin-bottom: 8rem;
            }
        }
    }










    //--------------MAIN MIS COMPRAS--------------

    // LAYOUT

    .mainMisCompras{
        display: grid;
        grid-template-areas: 
            "Titulo Titulo Titulo Titulo"
            "MisCompras MisCompras MisCompras MisCompras";
    }

    // ESTILOS (COLOCAR PRODUCTOS Y ESTILOS)












    //--------------MAIN HISTORIAL--------------

    // LAYOUT

    .mainHistorial{
        display: grid;
        grid-template-areas: 
            "Titulo Titulo Titulo Titulo"
            "Historial Historial Historial Historial";
    }

    // ESTILOS (COLOCAR PRODUCTOS Y ESTILOS)













    //--------------MAIN SOBRE NOSOTROS--------------

    //LAYOUT

    .mainSobreNosotros{
        aside{
            grid-area: Aside;
            display: block;
        }

        display: grid;
        grid-template-areas: 
        "Titulo Titulo Titulo Titulo"
        "NuestraHistoria NuestraHistoria NuestraHistoria NuestraHistoria"
        "Historia Historia Historia Historia";
        grid-template-columns: 2fr 2fr 2fr 2fr;
    }

    // ESTILOS 


    .mainSobreNosotros{
        .nombreQuienesSomos{
            display: flex;
            justify-content: start;
            align-items: flex-start;
            flex-direction: column;
    
            height: 100vh;
            width: 98.9vw;
            background-image: url(../imágenes/fondo4.png);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
    
            h1{
                font-size: 3.5rem;
                color: $colorblanco;
                margin: 5rem 0 2rem 3.5rem;
                font-weight: bold;
            }
    
            p{
                display: block;
                text-align: start;
                margin: 0 40rem 0 3.5rem;
                font-size: 1.5rem;
                color: $colorblanco;
            }
        }

        .historia{
            .displayP{
                display: none;
            }

            div{
                div{
                    margin-right: 6rem;
                }
            }
        }
    }










    //--------------MAIN CONTACTOS--------------

    // LAYOUT

    .mainContactos{
        display: grid;
        grid-template-areas: 
            "Titulo Titulo Titulo Titulo"
            "Subtitulo Subtitulo Subtitulo Subtitulo"
            "Ubicacion Ubicacion Ubicacion Ubicacion"
            "Redes Redes Redes Redes"
            "Formulario Formulario Formulario Formulario";
    }

    // ESTILOS

    .mainContactos{

        .nombreContactos{
            align-items: flex-start;
            height: 100vh;
            width: 98.9vw;
            background-image: url(../imágenes/fondo6.png);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;

            h1{
                margin:5rem 0 2rem 3.5rem;
                font-size: 3.5rem;
            }

            p{
                text-align: start;
                margin: 0 45rem 0 3.5rem;
                font-size: 1.5rem;
                color: $colorblanco;
            }
        }

        h1{
            text-align: start;
        }

        .divUbicacion{
            text-align: start;
        }

        .divRedes{

            h3{
                text-align: start;
            }

            div{
                a{
                    img{
                        transition: all 0.5s;
                    }
                }
            }
        }

        .form{
            
            h3{
                text-align: start;
            }

            section{

                article{

                    form{
                        display: flex;
                        flex-direction: column;

                        input{
                            margin-bottom: 1rem;
                        }
                    }
                }
            }
        }
    }
}