footer{
    background-color: $bgazul;
    padding-top: 0.5em;
    margin-top: 0.5em;

    section{
        padding: 0.3em;
        background-color: $bgazul;
        display: flex;
        flex-direction: column;

        h3,p{
            margin: 1em 0 1em 0;
            text-align: center;
            font-size: 1.5rem;
        }

        div{
            display: flex;
            justify-content: space-around;
            margin: 1em 0 1em 0;

            a{
                img{
                    width: 5rem;
                    height: 5rem;
                    transition:all 0.5s;

                    &:hover{
                        transform: scale(1.3);
                    }
                }                
            }
        }
    }
}