*{
    margin: 0;
    padding: 0;
}

body{
    text-align: center;
    min-height: 100%;
    min-width: 100%;
    font-family: "Oswald", sans-serif;
    background-color: $bgceleste;
}

img{
    width: 10em;
    height: 10em;
}

.bg-color-naranjita{
    background-color: $bgnaranjaclaro;
}


// NAVBAR - GENERAL

header{
    margin-bottom: 2rem;

    nav{

        .navbarfont{
            font-size: 3rem;
            font-family: 'Bebas Neue', cursive;
            color: $bgazul;
        }
    }
}


// FOOTER - GENERAL

footer{
    background-color: $bgazul;
    padding-top: 0.5em;
    margin-top: 0.5em;

    section{
        padding: 0.3em;
        background-color: $bgazul;
        display: flex;
        flex-direction: column;

        h3,p{
            margin: 1em 0 1em 0;
            text-align: center;
            font-size: 1.5rem;
        }

        div{
            display: flex;
            justify-content: space-around;
            margin: 1em 0 1em 0;

            a{
                img{
                    @include sizes(5rem, 5rem);
                    transition:all 0.5s;

                    &:hover{
                        transform: scale(1.3);
                    }
                }                
            }
        }
    }
}




// LAYOUTS GENERALES ---- MOBILE FIRST

header{
    grid-area: header;
}

footer{
    grid-area: footer;
}

main{
    grid-area: main;
}

body{
    display: grid;
    grid-template-areas: 
    "header"
    "main"
    "footer";
}






// LAYOUTS GENERALES ------ TABLET

@media (min-width: 500px){

    header{
        margin-bottom: 1rem;
    }

    body{
        display: grid;
        grid-template-areas: 
        "header header"
        "main main"
        "footer footer";
    }
}






// LAYOUTS GENERALES ------ DESKTOP

@media (min-width: 1024px){

    body{
        display: grid;
        grid-template-areas: 
        "header header header header"
        "main main main main"
        "footer footer footer footer";
    }
}

