*{
    margin: 0;
    padding: 0;
}

main{
    margin: 1rem;
}

body{
    text-align: center;
    min-height: 100%;
    min-width: 100%;
    font-family: 'Oswald', sans-serif;
    background-color: $colorsalmon;
}

img{
    width: 10em;
    height: 10em;
}

a{
    text-decoration: none;
}

p{
    border-top: 1px solid $colorvioleta;
}

.bg-color-naranjita{
    background-color: $colorblanco;
}


// NAVBAR - GENERAL

header{
    margin-bottom: 2rem;

    nav{
        .navbarfont{
            font-size: 1.8rem;
            font-weight: bold;
            font-family: 'Oswald', sans-serif;
            color: $colorsalmon
        }

        .navhover{
            transition: all 0.5s;
            &:hover{
                color: $coloroscuro;
            }
        }
    }
}


// FOOTER - GENERAL

footer{
    background-color: $colornonegro;
    padding-top: 0.5em;
    margin-top: 0.5em;

    section{
        text-align: start;
        font-family: 'Bebas Neue', cursive;
        padding: 1.8em;
        background-color: $colornonegro;
        display: flex;
        flex-direction: column;
        color: $colorverdeagua;

        h2{
            font-size: 2rem;
            font-weight: bold;
            margin-bottom: 1rem;
        }

        p{
            font-size: 1.3rem;
            font-weight: bold;
            font-family: 'Roboto', sans-serif;  
            border-top: none;
            margin: 1.5em 4em 2.5em 0;
        }

        h3{

            margin: 1em 0 1em 0;
            font-size: 1.5rem;
        }

        ul{
            margin: 0;

            h3{
                margin-bottom: 1rem;
            }

            .email{
                margin-top: 2.5em;
            }
        }

        a{
            text-decoration: none;
            
            p{
                margin: 0 0 0 1rem;
                font-size: 1rem;
                font-weight: bolder;
                color: $colorverdeagua;
                display: inline-block;
                position: relative;

                &::after{
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 2px;
                    bottom: 0;
                    left: 0;
                    background-color: $colorverdeagua;
                    transform: scaleX(0);
                    transform-origin: bottom right;
                    transition: transform 0.4s ease-out;
                }

                &:hover::after{
                    transform: scaleX(1);
                    transform-origin: bottom left;
                }
            }
        }
    }
}




// LAYOUTS GENERALES ---- MOBILE FIRST

header{
    grid-area: header;
}

footer{
    grid-area: footer;
}

main{
    grid-area: main;
}

body{
    display: grid;
    grid-template-areas: 
    "header"
    "main"
    "footer";
}






// LAYOUTS GENERALES ------ TABLET

@media (min-width: 500px){

    header{
        margin-bottom: 1rem;
    }

    body{
        display: grid;
        grid-template-areas: 
        "header header"
        "main main"
        "footer footer";
    }
}






// LAYOUTS GENERALES ------ DESKTOP

@media (min-width: 1024px){

    body{
        display: grid;
        grid-template-areas: 
        "header header header header"
        "main main main main"
        "footer footer footer footer";
    }
}

