//--------------------------------FIRST MOBILE--------------------------------//

//--------------MAIN INDEX--------------

// LAYOUT

.mainIndex{
    .nombre{
        grid-area: Slogan;
    }

    .sectionOferta{
        grid-area: Ofertas;
    }

    .sectionInteresar{
        grid-area: Interesar;
    }

    .sectionNovedades{
        grid-area: Novedades;
    }

    display: grid;
    grid-template-areas: 
    "Slogan"
    "Ofertas"
    "Interesar"
    "Novedades";
}

// ESTILOS 

.mainIndex{

    .nombre{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-family: 'Bebas Neue', cursive;

        height: 100vh;
        width: 100vw;
        background-image: url(../imágenes/Despensa\ Ely.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        h1{
            font-size: 5rem;
            color: $colorblanco;
            margin: 0 0 1rem 0;
            font-weight: bold;
        }

        h2{
            font-size: 2rem;
            color: $colorblanco;
            font-family: 'Oswald', sans-serif;
        }
    }

    .sectionOferta{
        display: flex;
        flex-direction: column;
        background-color: $colorblanco;
        padding: 1em;
        margin-bottom: 2em;
        color: $colorsalmon;

        h2{
            font-size: 3.5rem;
            margin-top: 1.5rem;
        }

        p{
            font-size: 1.5rem;
        }
    
        .productoOferta{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-top: 2.5rem;

            @media(max-width:455px){
                flex-direction: column;
            }

            p{
                font-size: 1rem;
            }

            div{
                width: auto;
                background-color: $colorblanco;
                padding: 1rem;
                margin-bottom: 1.7em;
                transition: all 0.5s;
                border: 1px solid $colorsalmon;
                transition: all 0.5s;

                &:hover{
                    transform: scale(1.1);
                }
    
                img{
                    margin: auto;
                }
    
                p{
                    margin-top: 0.5em;
                    color: $colornegro;
                    text-align: start;
                    border-top: 1px solid $colorsalmon;
                }
            }
        }
    }

    .sectionInteresar{
        margin-bottom: 3em;
        padding: 1rem;
        color: $colorblanco;
    
        h2{
            text-align: start;
        }
    
        div{
            background-color: $colorblanco;
            padding: 1rem;
            margin: 1.7em;
            transition: all 0.5s;

            &:hover{
                transform: scale(1.1);
            }

            img{
                margin: auto;
            }

            p{
                margin-top: 0.5em;
                border-top: 1px solid $colorsalmon;
                text-align: start;
                color: $colorverdeagua;
            }
        }
    }
}



//--------------MAIN PRODUCTOS--------------

//LAYOUT

.mainProductos{
    
    .nombreProductos{
        grid-area: Titulo;
    }

    section{
        grid-area: Productos;
    }

    .imgsections{
        grid-area: Imagenes;
    }

    .comida{
        grid-area: Comida;
    }

    .bebida{
        grid-area: Bebida;
    }

    .limpieza{
        grid-area: Limpieza;
    }

    .regaleria{
        grid-area: Regalería;
    }

    display: grid;
    grid-template-areas: 
        "Titulo"
        "Productos"
        "Imagenes"
        "Comida"
        "Bebida"
        "Limpieza"
        "Regalería";
}

// ESTILOS

.mainProductos{
    text-align: start;

    .nombreProductos{
        display: flex;
        justify-content: start;
        align-items: flex-start;
        flex-direction: column;

        height: 100vh;
        width: 100vw;
        background-image: url(../imágenes/fondo.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        h1{
            font-size: 3.5rem;
            color: $colorblanco;
            margin: 3rem 1rem 0 1rem;
            font-weight: bold;
        }

        h2{
            margin: 1rem 1rem 3rem 1rem;
        color: $colorblanco;
        }
    }

    section{
        background-color: $colorblanco;

        h2{
            color: $colorsalmon;
            margin: 1rem;
        }

        p{
            font-size: 1.5rem;
            color: $colorsalmon;
            margin: 0 1rem 4rem 1rem;
        }
    }

    .imgsections{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        bottom: 55%;

        img{
            height: 6.5rem;
            width: 6.5rem;
        }
    }
    
    .comida, .bebida, .limpieza, .regaleria{
        background-color: $colorblanco;
        text-align: center;

        h2{
            color: $colorsalmon;
            margin: 1rem;
        }
    }

    .comidaProductos{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        background-color: $colorsalmon;
        padding: 1rem;

        @media(max-width:455px){
            flex-direction: column;
        }

        p{
            font-size: 1rem;
            margin: 1rem;
        }

        div{
            width: auto;
            background-color: $colorblanco;
            padding: 1rem;
            margin-bottom: 1.7em;
            transition: all 0.5s;
            border: 1px solid $colorsalmon;
            transition: all 0.5s;
            
            &:hover{
                transform: scale(1.1);
            }
    
            img{
                margin: auto;
            }
    
            p{
                margin-top: 0.5em;
                color: $colornegro;
                text-align: start;
                border-top: 1px solid $colorsalmon;
            }
        }
    }
}
















//--------------MAIN MIS COMPRAS--------------

// LAYOUT

.mainMisCompras{

    h1{
        grid-area: Titulo;
    }

    section{
        grid-area: MisCompras;
    }

    display: grid;
    grid-template-areas: 
        "Titulo"
        "MisCompras";
}


// ESTILOS

.mainMisCompras{

    h1{
        font-size: 3.5rem;
        color: $colorblanco;
        margin: 1rem;
        font-weight: bold;
        text-align: start;
    }

    .miscomprasProductos{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        background-color: $colorsalmon;
        padding: 1rem;
        

        @media(max-width:455px){
            flex-direction: column;
        }

        p{
            font-size: 1rem;
            margin: 1rem;
        }

        div{
            width: auto;
            background-color: $colorblanco;
            padding: 1rem;
            margin-bottom: 1.7em;
            transition: all 0.5s;
            border: 1px solid $colorsalmon;

            transition: all 0.5s;
            
            &:hover{
                transform: scale(1.1);
            }
    
            img{
                margin: auto;
            }
    
            p{
                margin-top: 0.5em;
                color: $colornegro;
                text-align: start;
                border-top: 1px solid $colorsalmon;
            }
        }
    }

}




//--------------MAIN HISTORIAL--------------

// LAYOUT

.mainHistorial{

    h1{
        grid-area: Titulo;
    }

    section{
        grid-area: Historial;
    }

    display: grid;
    grid-template-areas: 
        "Titulo"
        "Historial";
}


// ESTILOS

.mainHistorial{

    h1{
        font-size: 3.5rem;
        color: $colorblanco;
        margin: 1rem;
        font-weight: bold;
        text-align: start;
    }

    .historialProductos{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        background-color: $colorsalmon;
        padding: 1rem;
        

        @media(max-width:455px){
            flex-direction: column;
        }

        p{
            font-size: 1rem;
            margin: 1rem;
        }

        div{
            width: auto;
            background-color: $colorblanco;
            padding: 1rem;
            margin-bottom: 1.7em;
            transition: all 0.5s;
            border: 1px solid $colorsalmon;
            transition: all 0.5s;
            
            &:hover{
                transform: scale(1.1);
            }
    
            img{
                margin: auto;
            }
    
            p{
                margin-top: 0.5em;
                color: $colornegro;
                text-align: start;
                border-top: 1px solid $colorsalmon;
            }
        }
    }
}


//--------------MAIN SOBRE NOSOTROS--------------

//LAYOUT

.mainSobreNosotros{

    .nombreQuienesSomos{
        grid-area: Titulo;
    }

    h2{
        grid-area: NuestraHistoria;
    }

    .historia{
        grid-area: Historia;
    }

    display: grid;
    grid-template-areas: 
    "Titulo"
    "NuestraHistoria"
    "Historia";
    grid-template-columns: 1fr;
}


// ESTILOS

.mainSobreNosotros{
    text-align: center;

    .nombreQuienesSomos{
        display: flex;
        justify-content: start;
        align-items: center;
        flex-direction: column;

        height: 100vh;
        width: 100vw;
        background-image: url(../imágenes/fondosobrenosotros.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        h1{
            font-size: 3.5rem;
            color: $colorblanco;
            margin-bottom: 5rem;
            margin-top: 5rem;
            font-weight: bold;
        }

        p{
            display: none;
        }
    }

    h2{
        margin: 0;
        padding-top: 3rem;
        padding-bottom: 2rem;
        font-family: 'Bebas Neue', cursive;
        color: $colorsalmon;
        font-size: 3rem;
        background-color: $colorblanco;
    }

    .historia{
        background-color: $colorblanco;
        padding: 2rem;

        p{
            border-top: none;
            color: $colorsalmon;
            font-size: 1.5rem;
            margin-bottom: 3rem;
        }

        div{
            
            p{
                font-family: 'Bebas Neue', cursive;
                font-size: 3rem;
            }

            img{
                height: 12rem;
                width: 20rem;
            }
        }   
    }    
}



//--------------MAIN CONTACTOS--------------

// LAYOUT

.mainContactos{

    .nombreContactos{
        grid-area: Titulo;
    }

    .redesubi{
        grid-area: Subtitulo;
    }


    display: grid;
    grid-template-areas: 
        "Titulo"
        "Subtitulo";
}


// ESTILOS

.mainContactos{
    margin: 0;
    text-align: start;
    color: $colorblanco;

    .nombreContactos{
        display: flex;
        justify-content: start;
        align-items: center;
        flex-direction: column;

        height: 100vh;
        width: 100vw;
        background-image: url(../imágenes/fondo2.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        h1{
            font-size: 3.5rem;
            color: $colorblanco;
            margin-bottom: 1rem;
            margin-top: 5rem;
            font-weight: bold;
        }

        p{
            font-size: 1.5rem;
            text-align: center;
        }
    }
    
    .redesubi{
        padding: 2rem;
        background-color: $colorblanco;
        color: $colorsalmon;

        h2{
            font-size: 3rem;
            margin-bottom: 1em;
            text-align: center;
        }

        h3{
            font-family: 'Bebas Neue', cursive;
            font-size: 2rem;
        }
    
        p{
            border-top: none;
        }
    
        .divUbicacion{
            margin: 0.5em 0 2em 0;
        }
    
        .divRedes{
            margin: 0.5em 0 2em 0;
    
            div{
                display: flex;
                justify-content: center;
    
                a{
                    img{
                        font-size: 0.7rem;
                        margin: 1.5em;
                        justify-content: space-around;
                        transition: all 0.5s;

                        &:hover{
                            transform: scale(1.3);
                        }
                    }
                }
            }
        }
    }

    .form{

        section{
            background-color: $colorsalmon;
            border-radius: 1rem;
            margin: 1em 2em 2em 2em;
            padding: 2em;
            color: $colorblanco;

            article{
                text-align: start;
                
                form{
                    label{
                        margin-bottom: 1rem;
                    }
                }
            }
        }
    }
}