//--------------------------------TABLET STYLES--------------------------------//

@media (min-width: 500px){

    //--------------MAIN INDEX--------------

    // LAYOUT

    .mainIndex{
        display: grid;
        grid-template-areas: 
        "Slogan Slogan"
        "Ofertas Ofertas"
        "Interesar Interesar"
        "Novedades Novedades";
    }


    // ESTILOS

    .mainIndex{

        .sectionOferta{
            display: flex;
            flex-direction: column;
            margin-bottom: 1em;
            background-color: $colorblanco;
            padding: 2em;

            .productoOferta{
                display: flex;
                justify-content: space-around;

                div{
                    justify-content: center;
                    width: 12.5rem;
                    padding: 1.5rem;
                }
            }
        }

        @media (min-width:700px){
            .sectionint{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
            }
        }
    }



    //--------------MAIN PRODUCTOS--------------

    //LAYOUT

    .mainProductos{
        display: grid;
        grid-template-areas: 
        "Titulo Titulo"
        "Productos Productos"
        "Imagenes Imagenes"
        "Comida Comida"
        "Bebida Bebida"
        "Limpieza Limpieza"
        "Regalería Regalería";
    }

    // ESTILOS

    .mainProductos{

        .imgsections{
            justify-content: space-around;

            img{
                height: 8rem;
                width: 8rem;
            }
        }
    }





    //--------------MAIN MIS COMPRAS--------------

    // LAYOUT

    .mainMisCompras{
        display: grid;
        grid-template-areas: 
            "Titulo Titulo"
            "MisCompras MisCompras";
    }

    // ESTILOS

    .mainMisCompras{

        .miscomprasProductos{
            justify-content: space-around;
        }
    }










    //--------------MAIN HISTORIAL--------------

    // LAYOUT

    .mainHistorial{
        display: grid;
        grid-template-areas: 
            "Titulo Titulo"
            "Historial Historial";
    }

    // ESTILOS













    //--------------MAIN SOBRE NOSOTROS--------------

    //LAYOUT

    .mainSobreNosotros{
        display: grid;
        grid-template-areas: 
        "Titulo Titulo"
        "NuestraHistoria NuestraHistoria"
        "Historia Historia";
        grid-template-columns: 2fr 2fr;
    }

    // ESTILOS

    .mainSobreNosotros{

        .nombreQuienesSomos{
            background-image: url(../imágenes/fondo3.png);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }

        .historia{
            div{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around; 

                img{
                    margin-bottom: 3rem;

                    @media (min-width:781px) {
                        margin-right: 5rem;
                    }
                }

                p{
                    align-self: center;

                 
                    

                }
            }
        }
    }










    //--------------MAIN CONTACTOS--------------

    // LAYOUT

    .mainContactos{
        display: grid;
        grid-template-areas: 
            "Titulo Titulo"
            "Subtitulo Subtitulo"
            "Ubicacion Ubicacion"
            "Redes Redes"
            "Formulario Formulario";
    }

    // ESTILOS

    .mainContactos{

        .nombreContactos{
            background-image: url(../imágenes/fondo5.png);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }

        .redesubi{

            .divRedes{

                h3{
                    text-align: start;
                }
    
                div{
                    justify-content: start;
                }
            }
        }

        .form{
            
            h3{
                text-align: start;
            }

            section{

                article{

                    form{
                        display: flex;
                        flex-direction: column;

                        input{
                            margin-bottom: 1rem;
                        }
                    }
                }
            }
        }
    }
}
