// Variables

$colorblanco:white;
$colorverdeagua:#17A398;
$coloroscuro:#EE6C4D;
$colorsalmon:#F38D68;
$colorvioleta: #662C91;
$colornonegro: #33312E;
$colornegro:black;

// Extend

.taling-bgcolor{
    text-align: start;
    background-color: $colorblanco;
}


// Mixing

@mixin sizes ($width, $height) {
    height: $height;
    width: $width;
}