// Variables

$colorblanco:white;
$colorverdeagua:#0d0106;
$coloroscuro:#EE6C4D;
$colorsalmon:#657ed4;
$colorvioleta: #ff331f;
$colornonegro: #33312E;
$colornegro:black;

// Extend

.taling-bgcolor{
    text-align: start;
    background-color: $colorblanco;
}


// Mixing

@mixin sizes ($width, $height) {
    height: $height;
    width: $width;
}