/* ESTILOS GENERALES */
@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@700&display=swap');

body{
    background-color: #8ecae6;
}

img{
    width: 15rem;
    height: 15rem;
}

.navbarfont{
    font-family: 'DynaPuff', cursive;
    color: #219ebc;
}

.bg-color-azulcito{
    background-color: #8ecae6;
}

.bg-color-naranjita{
    background-color: #ffb703;
}

.bg-color-azul{
    background-color: #219ebc;
}

.imagenFooter{
    width: 8rem;
    height: 8rem;
}
