@import url("https://fonts.googleapis.com/css2?family=DynaPuff:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
.taling-bgcolor, .mainHistorial section div, .mainMisCompras section div, .mainProductos section div {
  text-align: start;
  background-color: white;
}

* {
  margin: 0;
  padding: 0;
}

main {
  margin: 1rem;
}

body {
  text-align: center;
  min-height: 100%;
  min-width: 100%;
  font-family: "Oswald", sans-serif;
  background-color: #F38D68;
}

img {
  width: 10em;
  height: 10em;
}

a {
  text-decoration: none;
}

p {
  border-top: 1px solid #662C91;
}

.bg-color-naranjita {
  background-color: white;
}

header {
  margin-bottom: 2rem;
}
header nav .navbarfont {
  font-size: 1.8rem;
  font-weight: bold;
  font-family: "Oswald", sans-serif;
  color: #F38D68;
}
header nav .navhover {
  transition: all 0.5s;
}
header nav .navhover:hover {
  color: #EE6C4D;
}

footer {
  background-color: #33312E;
  padding-top: 0.5em;
  margin-top: 0.5em;
}
footer section {
  text-align: start;
  font-family: "Bebas Neue", cursive;
  padding: 1.8em;
  background-color: #33312E;
  display: flex;
  flex-direction: column;
  color: #17A398;
}
footer section h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
footer section p {
  font-size: 1.3rem;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  border-top: none;
  margin: 1.5em 4em 2.5em 0;
}
footer section h3 {
  margin: 1em 0 1em 0;
  font-size: 1.5rem;
}
footer section ul {
  margin: 0;
}
footer section ul h3 {
  margin-bottom: 1rem;
}
footer section ul .email {
  margin-top: 2.5em;
}
footer section a {
  text-decoration: none;
}
footer section a p {
  margin: 0 0 0 1rem;
  font-size: 1rem;
  font-weight: bolder;
  color: #17A398;
  display: inline-block;
  position: relative;
}
footer section a p::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #17A398;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.4s ease-out;
}
footer section a p:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

header {
  grid-area: header;
}

footer {
  grid-area: footer;
}

main {
  grid-area: main;
}

body {
  display: grid;
  grid-template-areas: "header" "main" "footer";
}

@media (min-width: 500px) {
  header {
    margin-bottom: 1rem;
  }
  body {
    display: grid;
    grid-template-areas: "header header" "main main" "footer footer";
  }
}
@media (min-width: 1024px) {
  body {
    display: grid;
    grid-template-areas: "header header header header" "main main main main" "footer footer footer footer";
  }
}
.mainIndex {
  display: grid;
  grid-template-areas: "Slogan" "Ofertas" "Interesar" "Novedades";
}
.mainIndex h1 {
  grid-area: Slogan;
}
.mainIndex .sectionOferta {
  grid-area: Ofertas;
}
.mainIndex .sectionInteresar {
  grid-area: Interesar;
}
.mainIndex .sectionNovedades {
  grid-area: Novedades;
}

.mainIndex h1 {
  font-size: 3.5rem;
  color: white;
  margin: 0 3rem 5rem 0;
  font-weight: bold;
  text-align: start;
}
.mainIndex h2 {
  color: white;
}
.mainIndex p {
  border-top: 1px solid #662C91;
}
.mainIndex .sectionOferta {
  display: flex;
  flex-direction: column;
  background-color: #662C91;
  padding: 1em;
  margin-bottom: 2em;
}
.mainIndex .sectionOferta h2, .mainIndex .sectionOferta p {
  color: white;
}
.mainIndex .sectionOferta .productoOferta {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 455px) {
  .mainIndex .sectionOferta .productoOferta {
    flex-direction: column;
  }
}
.mainIndex .sectionOferta .productoOferta div {
  width: auto;
  background-color: white;
  padding: 1rem;
  margin-bottom: 1.7em;
  transition: all 0.5s;
}
.mainIndex .sectionOferta .productoOferta div:hover {
  transform: scale(1.1);
}
.mainIndex .sectionOferta .productoOferta div img {
  margin: auto;
}
.mainIndex .sectionOferta .productoOferta div p {
  margin-top: 0.5em;
  color: black;
  text-align: start;
}
.mainIndex .sectionInteresar {
  margin-bottom: 3em;
}
.mainIndex .sectionInteresar h2 {
  text-align: start;
}
.mainIndex .sectionInteresar div {
  background-color: white;
  padding: 1rem;
  margin: 1.7em;
  transition: all 0.5s;
}
.mainIndex .sectionInteresar div:hover {
  transform: scale(1.1);
}
.mainIndex .sectionInteresar div img {
  margin: auto;
}
.mainIndex .sectionInteresar div p {
  margin-top: 0.5em;
  text-align: start;
}

.mainProductos {
  display: grid;
  grid-template-areas: "Titulo" "Subtitulo" "Productos";
}
.mainProductos h1 {
  grid-area: Titulo;
}
.mainProductos h2 {
  grid-area: Subtitulo;
}
.mainProductos section {
  grid-area: Productos;
}

.mainProductos h1 {
  font-size: 3.5rem;
  color: white;
  margin-bottom: 5rem;
  font-weight: bold;
  text-align: start;
}
.mainProductos h2 {
  text-align: start;
  font-family: "Bebas Neue", cursive;
  color: #662C91;
  position: relative;
}
.mainProductos h2::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #662C91;
}
.mainProductos .sectionproductos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.mainProductos .sectionproductos div {
  width: 40vw;
  background-color: white;
  align-items: stretch;
  padding: 1rem;
  margin-bottom: 1.7em;
  transition: all 0.5s;
}
.mainProductos .sectionproductos div:hover {
  transform: scale(1.1);
}
.mainProductos .sectionproductos div img {
  height: 25vh;
  margin: auto;
}
.mainProductos .sectionproductos div p {
  margin-top: 0.5em;
  color: black;
  text-align: start;
}
.mainProductos .sectionproductos div p::after {
  display: none;
}
.mainProductos section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.mainProductos section div {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #662C91;
  margin: 2em 0 0.5rem 0;
  padding: 0.2rem;
  position: relative;
}
.mainProductos section div img {
  width: 100%;
  height: 50vh;
  position: relative;
  transition: transform 1s;
  display: block;
}
.mainProductos section div .parrafoshover {
  position: absolute;
  font-family: "Bebas Neue", cursive;
  font-size: 3rem;
  background-color: rgba(51, 49, 46, 0.7);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
}
.mainProductos section div:hover .parrafoshover {
  opacity: 1;
}
.mainProductos section .parrafosecciones {
  color: #662C91;
  border-top: none;
  margin-bottom: 2.5rem;
  text-align: start;
  font-size: 1.3rem;
  font-weight: 500;
  position: relative;
}
.mainProductos section .parrafosecciones::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -2.3rem;
  left: 0;
  background-color: #662C91;
}

.mainMisCompras {
  display: grid;
  grid-template-areas: "Titulo" "MisCompras";
}
.mainMisCompras h1 {
  grid-area: Titulo;
}
.mainMisCompras section {
  grid-area: MisCompras;
}

.mainMisCompras h1 {
  font-size: 3.5rem;
  color: white;
  margin-bottom: 5rem;
  font-weight: bold;
  text-align: start;
}
.mainMisCompras section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.mainMisCompras section div {
  margin: 2em 1em 2em 1em;
  padding: 0.6rem;
}
.mainMisCompras section div img {
  margin-bottom: 0.5rem;
}

.mainHistorial {
  display: grid;
  grid-template-areas: "Titulo" "Historial";
}
.mainHistorial h1 {
  grid-area: Titulo;
}
.mainHistorial section {
  grid-area: Historial;
}

.mainHistorial h1 {
  font-size: 3.5rem;
  color: white;
  margin-bottom: 5rem;
  font-weight: bold;
  text-align: start;
}
.mainHistorial section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.mainHistorial section div {
  margin: 2em 1em 2em 1em;
  padding: 0.6rem;
}

.mainSobreNosotros {
  display: grid;
  grid-template-areas: "Titulo" "Historia" "Aside";
  grid-template-columns: 1fr;
}
.mainSobreNosotros h1 {
  grid-area: Titulo;
}
.mainSobreNosotros div {
  grid-area: Historia;
}
.mainSobreNosotros aside {
  grid-area: Aside;
  display: none;
}

.mainSobreNosotros {
  margin: 0.5em 0.5em 2em 0.5em;
  text-align: start;
}
.mainSobreNosotros h1 {
  font-size: 3.5rem;
  color: white;
  margin-bottom: 5rem;
  font-weight: bold;
}
.mainSobreNosotros p {
  border-top: none;
  color: white;
  font-size: 1.5rem;
}

.mainContactos {
  display: grid;
  grid-template-areas: "Titulo" "Subtitulo" "Ubicacion" "Redes" "Formulario";
}
.mainContactos h1 {
  grid-area: Titulo;
}
.mainContactos h2 {
  grid-area: Subtitulo;
}
.mainContactos .divUbicacion {
  grid-area: Ubicacion;
}
.mainContactos .divRedes {
  grid-area: Redes;
}
.mainContactos .form {
  grid-area: Formulario;
}

.mainContactos {
  margin: 0 1em 0 1em;
  text-align: start;
  color: white;
}
.mainContactos h1 {
  font-size: 3.5rem;
  margin-bottom: 5rem;
  font-weight: bold;
}
.mainContactos h2 {
  margin-bottom: 1em;
  text-align: center;
}
.mainContactos p {
  border-top: none;
}
.mainContactos .divUbicacion {
  margin: 0.5em 0 2em 0;
}
.mainContactos .divRedes {
  margin: 0.5em 0 2em 0;
}
.mainContactos .divRedes div {
  display: flex;
  justify-content: center;
}
.mainContactos .divRedes div a img {
  font-size: 0.7rem;
  margin: 1.5em;
  justify-content: space-around;
}
.mainContactos .divRedes div a img:hover {
  transform: scale(1.3);
}
.mainContactos .form section {
  background-color: #33312E;
  margin: 1em 2em 2em 2em;
  padding: 2em;
  color: #17A398;
}
.mainContactos .form section article {
  text-align: start;
}
.mainContactos .form section article form label {
  margin-bottom: 1rem;
}

@media (min-width: 500px) {
  .mainIndex {
    display: grid;
    grid-template-areas: "Titulo Titulo" "Slogan Slogan" "Ofertas Ofertas" "Interesar Interesar" "Novedades Novedades";
  }
  .mainIndex .sectionOferta {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
    background-color: #662C91;
    padding: 2em;
  }
  .mainIndex .sectionOferta .productoOferta {
    display: flex;
    justify-content: space-around;
  }
  .mainIndex .sectionOferta .productoOferta div {
    justify-content: center;
    width: 12.5rem;
    padding: 1.5rem;
  }
}
@media (min-width: 500px) and (min-width: 700px) {
  .mainIndex .sectionint {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (min-width: 500px) {
  .mainProductos {
    display: grid;
    grid-template-areas: "Titulo Titulo" "Subtitulo Subtitulo" "Productos Productos";
  }
}
@media (min-width: 500px) and (min-width: 800px) {
  .mainProductos section {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .mainProductos section a {
    width: auto;
    height: auto;
  }
  .mainProductos section a div {
    width: 20rem;
  }
  .mainProductos section a div img {
    height: 50vh;
  }
  .mainProductos section a p::after {
    display: none;
  }
}
@media (min-width: 500px) {
  .mainMisCompras {
    display: grid;
    grid-template-areas: "Titulo Titulo" "MisCompras MisCompras";
  }
}
@media (min-width: 500px) {
  .mainHistorial {
    display: grid;
    grid-template-areas: "Titulo Titulo" "Historial Historial";
  }
}
@media (min-width: 500px) {
  .mainSobreNosotros {
    display: grid;
    grid-template-areas: "Titulo Titulo" "Historia Historia";
    grid-template-columns: 2fr 2fr;
  }
  .mainSobreNosotros aside {
    grid-area: Aside;
    display: block;
  }
}
@media (min-width: 500px) {
  .mainContactos {
    display: grid;
    grid-template-areas: "Titulo Titulo" "Subtitulo Subtitulo" "Ubicacion Ubicacion" "Redes Redes" "Formulario Formulario";
  }
}
@media (min-width: 500px) {
  .mainContactos .divUbicacion {
    text-align: start;
  }
  .mainContactos .divRedes h3 {
    text-align: start;
  }
  .mainContactos .divRedes div a img {
    transition: all 0.5s;
  }
  .mainContactos .form h3 {
    text-align: start;
  }
  .mainContactos .form section article form {
    display: flex;
    flex-direction: column;
  }
  .mainContactos .form section article form input {
    margin-bottom: 1rem;
  }
}
@media (min-width: 1024px) {
  body {
    text-align: start;
  }
  .mainIndex {
    display: grid;
    grid-template-areas: "Titulo Titulo Titulo Titulo" "Slogan Slogan Slogan Slogan" "Ofertas Ofertas Ofertas Ofertas" "Interesar Interesar Interesar Interesar" "Novedades Novedades Novedades Novedades";
  }
  .mainIndex .sectionOferta h2 {
    text-align: start;
  }
  .mainIndex .sectionOferta .productoOferta {
    display: flex;
    justify-content: space-around;
  }
  .mainIndex .sectionOferta .productoOferta div {
    justify-content: center;
    width: 12.5rem;
    padding: 1.5rem;
  }
  .mainProductos {
    display: grid;
    grid-template-areas: "Titulo Titulo Titulo Titulo" "Subtitulo Subtitulo Subtitulo Subtitulo" "Productos Productos Productos Productos";
  }
  .mainProductos .sectionproductos div {
    width: 20vw;
  }
  .mainMisCompras {
    display: grid;
    grid-template-areas: "Titulo Titulo Titulo Titulo" "MisCompras MisCompras MisCompras MisCompras";
  }
  .mainHistorial {
    display: grid;
    grid-template-areas: "Titulo Titulo Titulo Titulo" "Historial Historial Historial Historial";
  }
  .mainSobreNosotros {
    display: grid;
    grid-template-areas: "Aside Titulo Titulo Titulo" "Aside Historia Historia Historia";
    grid-template-columns: 1fr 2fr 2fr 2fr;
  }
  .mainSobreNosotros aside {
    grid-area: Aside;
    display: block;
  }
  .mainContactos {
    display: grid;
    grid-template-areas: "Titulo Titulo Titulo Titulo" "Subtitulo Subtitulo Subtitulo Subtitulo" "Ubicacion Ubicacion Ubicacion Ubicacion" "Redes Redes Redes Redes" "Formulario Formulario Formulario Formulario";
  }
  .mainContactos h1 {
    text-align: start;
  }
  .mainContactos .divUbicacion {
    text-align: start;
  }
  .mainContactos .divRedes h3 {
    text-align: start;
  }
  .mainContactos .divRedes div a img {
    transition: all 0.5s;
  }
  .mainContactos .form h3 {
    text-align: start;
  }
  .mainContactos .form section article form {
    display: flex;
    flex-direction: column;
  }
  .mainContactos .form section article form input {
    margin-bottom: 1rem;
  }
}/*# sourceMappingURL=style.css.map */