@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=DynaPuff:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
.taling-bgcolor {
  text-align: start;
  background-color: white;
}

* {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  min-height: 100%;
  min-width: 100%;
  font-family: "Oswald", sans-serif;
  background-color: #657ed4;
}

img {
  width: 10em;
  height: 10em;
}

a {
  text-decoration: none;
}

.bg-color-naranjita {
  background-color: white;
}

header nav div a img {
  width: 4rem;
  height: 4rem;
}
header nav .navhover {
  transition: all 0.5s;
}
header nav .navhover:hover {
  color: #EE6C4D;
}

footer {
  background-color: white;
  padding-top: 0.5em;
  margin-top: 0.5em;
}
footer section {
  text-align: start;
  font-family: "Bebas Neue", cursive;
  padding: 1.8em;
  background-color: white;
  display: flex;
  flex-direction: column;
  color: #657ed4;
}
footer section div img {
  height: 6rem;
  width: 6rem;
  transition: all 0.5s;
}
footer section div img:hover {
  transform: scale(1.1);
}
footer section h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}
footer section p {
  font-size: 1.3rem;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  border-top: none;
  margin: 1.5em 4em 2.5em 0;
}
footer section h3 {
  margin: 1em 0 1em 0;
  font-size: 1.5rem;
}
footer section ul {
  margin: 0;
}
footer section ul h3 {
  margin-bottom: 1rem;
}
footer section ul .email {
  margin-top: 2.5em;
}
footer section a {
  text-decoration: none;
}
footer section a p {
  margin: 0 0 0 1rem;
  font-size: 1rem;
  font-weight: bolder;
  color: #657ed4;
}

header {
  grid-area: header;
}

footer {
  grid-area: footer;
}

main {
  grid-area: main;
}

body {
  display: grid;
  grid-template-areas: "header" "main" "footer";
}

@media (min-width: 500px) {
  body {
    display: grid;
    grid-template-areas: "header header" "main main" "footer footer";
  }
}
@media (min-width: 1024px) {
  body {
    display: grid;
    grid-template-areas: "header header header header" "main main main main" "footer footer footer footer";
  }
}
.mainIndex {
  display: grid;
  grid-template-areas: "Slogan" "Ofertas" "Interesar" "Novedades";
}
.mainIndex .nombre {
  grid-area: Slogan;
}
.mainIndex .sectionOferta {
  grid-area: Ofertas;
}
.mainIndex .sectionInteresar {
  grid-area: Interesar;
}
.mainIndex .sectionNovedades {
  grid-area: Novedades;
}

.mainIndex .nombre {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Bebas Neue", cursive;
  height: 100vh;
  width: 100vw;
  background-image: url(../imágenes/Despensa\ Ely.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.mainIndex .nombre h1 {
  font-size: 5rem;
  color: white;
  margin: 0 0 1rem 0;
  font-weight: bold;
}
.mainIndex .nombre h2 {
  font-size: 2rem;
  color: white;
  font-family: "Oswald", sans-serif;
}
.mainIndex .sectionOferta {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 1em;
  margin-bottom: 2em;
  color: #657ed4;
}
.mainIndex .sectionOferta h2 {
  font-size: 3.5rem;
  margin-top: 1.5rem;
}
.mainIndex .sectionOferta p {
  font-size: 1.5rem;
}
.mainIndex .sectionOferta .productoOferta {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 2.5rem;
}
@media (max-width: 455px) {
  .mainIndex .sectionOferta .productoOferta {
    flex-direction: column;
  }
}
.mainIndex .sectionOferta .productoOferta p {
  font-size: 1rem;
}
.mainIndex .sectionOferta .productoOferta div {
  width: auto;
  background-color: white;
  padding: 1rem;
  margin-bottom: 1.7em;
  transition: all 0.5s;
  border: 1px solid #657ed4;
  transition: all 0.5s;
}
.mainIndex .sectionOferta .productoOferta div:hover {
  transform: scale(1.1);
}
.mainIndex .sectionOferta .productoOferta div img {
  margin: auto;
}
.mainIndex .sectionOferta .productoOferta div p {
  margin-top: 0.5em;
  color: black;
  text-align: start;
  border-top: 1px solid #657ed4;
}
.mainIndex .sectionInteresar {
  margin-bottom: 3em;
  padding: 1rem;
  color: white;
}
.mainIndex .sectionInteresar h2 {
  text-align: start;
}
.mainIndex .sectionInteresar div {
  background-color: white;
  padding: 1rem;
  margin: 1.7em;
  transition: all 0.5s;
}
.mainIndex .sectionInteresar div:hover {
  transform: scale(1.1);
}
.mainIndex .sectionInteresar div img {
  margin: auto;
}
.mainIndex .sectionInteresar div p {
  margin-top: 0.5em;
  border-top: 1px solid #657ed4;
  text-align: start;
  color: #0d0106;
}

.mainProductos {
  display: grid;
  grid-template-areas: "Titulo" "Productos" "Imagenes" "Comida" "Bebida" "Limpieza" "Regalería";
}
.mainProductos .nombreProductos {
  grid-area: Titulo;
}
.mainProductos section {
  grid-area: Productos;
}
.mainProductos .imgsections {
  grid-area: Imagenes;
}
.mainProductos .comida {
  grid-area: Comida;
}
.mainProductos .bebida {
  grid-area: Bebida;
}
.mainProductos .limpieza {
  grid-area: Limpieza;
}
.mainProductos .regaleria {
  grid-area: Regalería;
}

.mainProductos {
  text-align: start;
}
.mainProductos .nombreProductos {
  display: flex;
  justify-content: start;
  align-items: flex-start;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-image: url(../imágenes/fondo.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.mainProductos .nombreProductos h1 {
  font-size: 3.5rem;
  color: white;
  margin: 3rem 1rem 0 1rem;
  font-weight: bold;
}
.mainProductos .nombreProductos h2 {
  margin: 1rem 1rem 3rem 1rem;
  color: white;
}
.mainProductos section {
  background-color: white;
}
.mainProductos section h2 {
  color: #657ed4;
  margin: 1rem;
}
.mainProductos section p {
  font-size: 1.5rem;
  color: #657ed4;
  margin: 0 1rem 4rem 1rem;
}
.mainProductos .imgsections {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 55%;
}
.mainProductos .imgsections img {
  height: 6.5rem;
  width: 6.5rem;
}
.mainProductos .comida, .mainProductos .bebida, .mainProductos .limpieza, .mainProductos .regaleria {
  background-color: white;
  text-align: center;
}
.mainProductos .comida h2, .mainProductos .bebida h2, .mainProductos .limpieza h2, .mainProductos .regaleria h2 {
  color: #657ed4;
  margin: 1rem;
}
.mainProductos .comidaProductos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #657ed4;
  padding: 1rem;
}
@media (max-width: 455px) {
  .mainProductos .comidaProductos {
    flex-direction: column;
  }
}
.mainProductos .comidaProductos p {
  font-size: 1rem;
  margin: 1rem;
}
.mainProductos .comidaProductos div {
  width: auto;
  background-color: white;
  padding: 1rem;
  margin-bottom: 1.7em;
  transition: all 0.5s;
  border: 1px solid #657ed4;
  transition: all 0.5s;
}
.mainProductos .comidaProductos div:hover {
  transform: scale(1.1);
}
.mainProductos .comidaProductos div img {
  margin: auto;
}
.mainProductos .comidaProductos div p {
  margin-top: 0.5em;
  color: black;
  text-align: start;
  border-top: 1px solid #657ed4;
}

.mainMisCompras {
  display: grid;
  grid-template-areas: "Titulo" "MisCompras";
}
.mainMisCompras h1 {
  grid-area: Titulo;
}
.mainMisCompras section {
  grid-area: MisCompras;
}

.mainMisCompras h1 {
  font-size: 3.5rem;
  color: white;
  margin: 1rem;
  font-weight: bold;
  text-align: start;
}
.mainMisCompras .miscomprasProductos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #657ed4;
  padding: 1rem;
}
@media (max-width: 455px) {
  .mainMisCompras .miscomprasProductos {
    flex-direction: column;
  }
}
.mainMisCompras .miscomprasProductos p {
  font-size: 1rem;
  margin: 1rem;
}
.mainMisCompras .miscomprasProductos div {
  width: auto;
  background-color: white;
  padding: 1rem;
  margin-bottom: 1.7em;
  transition: all 0.5s;
  border: 1px solid #657ed4;
  transition: all 0.5s;
}
.mainMisCompras .miscomprasProductos div:hover {
  transform: scale(1.1);
}
.mainMisCompras .miscomprasProductos div img {
  margin: auto;
}
.mainMisCompras .miscomprasProductos div p {
  margin-top: 0.5em;
  color: black;
  text-align: start;
  border-top: 1px solid #657ed4;
}

.mainHistorial {
  display: grid;
  grid-template-areas: "Titulo" "Historial";
}
.mainHistorial h1 {
  grid-area: Titulo;
}
.mainHistorial section {
  grid-area: Historial;
}

.mainHistorial h1 {
  font-size: 3.5rem;
  color: white;
  margin: 1rem;
  font-weight: bold;
  text-align: start;
}
.mainHistorial .historialProductos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #657ed4;
  padding: 1rem;
}
@media (max-width: 455px) {
  .mainHistorial .historialProductos {
    flex-direction: column;
  }
}
.mainHistorial .historialProductos p {
  font-size: 1rem;
  margin: 1rem;
}
.mainHistorial .historialProductos div {
  width: auto;
  background-color: white;
  padding: 1rem;
  margin-bottom: 1.7em;
  transition: all 0.5s;
  border: 1px solid #657ed4;
  transition: all 0.5s;
}
.mainHistorial .historialProductos div:hover {
  transform: scale(1.1);
}
.mainHistorial .historialProductos div img {
  margin: auto;
}
.mainHistorial .historialProductos div p {
  margin-top: 0.5em;
  color: black;
  text-align: start;
  border-top: 1px solid #657ed4;
}

.mainSobreNosotros {
  display: grid;
  grid-template-areas: "Titulo" "NuestraHistoria" "Historia";
  grid-template-columns: 1fr;
}
.mainSobreNosotros .nombreQuienesSomos {
  grid-area: Titulo;
}
.mainSobreNosotros h2 {
  grid-area: NuestraHistoria;
}
.mainSobreNosotros .historia {
  grid-area: Historia;
}

.mainSobreNosotros {
  text-align: center;
}
.mainSobreNosotros .nombreQuienesSomos {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-image: url(../imágenes/fondosobrenosotros.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.mainSobreNosotros .nombreQuienesSomos h1 {
  font-size: 3.5rem;
  color: white;
  margin-bottom: 5rem;
  margin-top: 5rem;
  font-weight: bold;
}
.mainSobreNosotros .nombreQuienesSomos p {
  display: none;
}
.mainSobreNosotros h2 {
  margin: 0;
  padding-top: 3rem;
  padding-bottom: 2rem;
  font-family: "Bebas Neue", cursive;
  color: #657ed4;
  font-size: 3rem;
  background-color: white;
}
.mainSobreNosotros .historia {
  background-color: white;
  padding: 2rem;
}
.mainSobreNosotros .historia p {
  border-top: none;
  color: #657ed4;
  font-size: 1.5rem;
  margin-bottom: 3rem;
}
.mainSobreNosotros .historia div p {
  font-family: "Bebas Neue", cursive;
  font-size: 3rem;
}
.mainSobreNosotros .historia div img {
  height: 12rem;
  width: 20rem;
}

.mainContactos {
  display: grid;
  grid-template-areas: "Titulo" "Subtitulo";
}
.mainContactos .nombreContactos {
  grid-area: Titulo;
}
.mainContactos .redesubi {
  grid-area: Subtitulo;
}

.mainContactos {
  margin: 0;
  text-align: start;
  color: white;
}
.mainContactos .nombreContactos {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-image: url(../imágenes/fondo2.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.mainContactos .nombreContactos h1 {
  font-size: 3.5rem;
  color: white;
  margin-bottom: 1rem;
  margin-top: 5rem;
  font-weight: bold;
}
.mainContactos .nombreContactos p {
  font-size: 1.5rem;
  text-align: center;
}
.mainContactos .redesubi {
  padding: 2rem;
  background-color: white;
  color: #657ed4;
}
.mainContactos .redesubi h2 {
  font-size: 3rem;
  margin-bottom: 1em;
  text-align: center;
}
.mainContactos .redesubi h3 {
  font-family: "Bebas Neue", cursive;
  font-size: 2rem;
}
.mainContactos .redesubi p {
  border-top: none;
}
.mainContactos .redesubi .divUbicacion {
  margin: 0.5em 0 2em 0;
}
.mainContactos .redesubi .divRedes {
  margin: 0.5em 0 2em 0;
}
.mainContactos .redesubi .divRedes div {
  display: flex;
  justify-content: center;
}
.mainContactos .redesubi .divRedes div a img {
  font-size: 0.7rem;
  margin: 1.5em;
  justify-content: space-around;
  transition: all 0.5s;
}
.mainContactos .redesubi .divRedes div a img:hover {
  transform: scale(1.3);
}
.mainContactos .form section {
  background-color: #657ed4;
  border-radius: 1rem;
  margin: 1em 2em 2em 2em;
  padding: 2em;
  color: white;
}
.mainContactos .form section article {
  text-align: start;
}
.mainContactos .form section article form label {
  margin-bottom: 1rem;
}

@media (min-width: 500px) {
  .mainIndex {
    display: grid;
    grid-template-areas: "Slogan Slogan" "Ofertas Ofertas" "Interesar Interesar" "Novedades Novedades";
  }
  .mainIndex .sectionOferta {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
    background-color: white;
    padding: 2em;
  }
  .mainIndex .sectionOferta .productoOferta {
    display: flex;
    justify-content: space-around;
  }
  .mainIndex .sectionOferta .productoOferta div {
    justify-content: center;
    width: 12.5rem;
    padding: 1.5rem;
  }
}
@media (min-width: 500px) and (min-width: 700px) {
  .mainIndex .sectionint {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (min-width: 500px) {
  .mainProductos {
    display: grid;
    grid-template-areas: "Titulo Titulo" "Productos Productos" "Imagenes Imagenes" "Comida Comida" "Bebida Bebida" "Limpieza Limpieza" "Regalería Regalería";
  }
}
@media (min-width: 500px) {
  .mainProductos .imgsections {
    justify-content: space-around;
  }
  .mainProductos .imgsections img {
    height: 8rem;
    width: 8rem;
  }
}
@media (min-width: 500px) {
  .mainMisCompras {
    display: grid;
    grid-template-areas: "Titulo Titulo" "MisCompras MisCompras";
  }
}
@media (min-width: 500px) {
  .mainMisCompras .miscomprasProductos {
    justify-content: space-around;
  }
}
@media (min-width: 500px) {
  .mainHistorial {
    display: grid;
    grid-template-areas: "Titulo Titulo" "Historial Historial";
  }
}
@media (min-width: 500px) {
  .mainSobreNosotros {
    display: grid;
    grid-template-areas: "Titulo Titulo" "NuestraHistoria NuestraHistoria" "Historia Historia";
    grid-template-columns: 2fr 2fr;
  }
}
@media (min-width: 500px) {
  .mainSobreNosotros .nombreQuienesSomos {
    background-image: url(../imágenes/fondo3.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .mainSobreNosotros .historia div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .mainSobreNosotros .historia div img {
    margin-bottom: 3rem;
  }
}
@media (min-width: 500px) and (min-width: 781px) {
  .mainSobreNosotros .historia div img {
    margin-right: 5rem;
  }
}
@media (min-width: 500px) {
  .mainSobreNosotros .historia div p {
    align-self: center;
  }
}
@media (min-width: 500px) {
  .mainContactos {
    display: grid;
    grid-template-areas: "Titulo Titulo" "Subtitulo Subtitulo" "Ubicacion Ubicacion" "Redes Redes" "Formulario Formulario";
  }
}
@media (min-width: 500px) {
  .mainContactos .nombreContactos {
    background-image: url(../imágenes/fondo5.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .mainContactos .redesubi .divRedes h3 {
    text-align: start;
  }
  .mainContactos .redesubi .divRedes div {
    justify-content: start;
  }
  .mainContactos .form h3 {
    text-align: start;
  }
  .mainContactos .form section article form {
    display: flex;
    flex-direction: column;
  }
  .mainContactos .form section article form input {
    margin-bottom: 1rem;
  }
}
@media (min-width: 1024px) {
  body {
    text-align: start;
  }
  .mainIndex {
    display: grid;
    grid-template-areas: "Slogan Slogan Slogan Slogan" "Ofertas Ofertas Ofertas Ofertas" "Interesar Interesar Interesar Interesar" "Novedades Novedades Novedades Novedades";
  }
  .mainIndex .nombre {
    height: 100vh;
    width: 98.9vw;
  }
  .mainIndex .sectionOferta h2 {
    text-align: start;
  }
  .mainIndex .sectionOferta .productoOferta {
    display: flex;
    justify-content: space-around;
  }
  .mainIndex .sectionOferta .productoOferta div {
    justify-content: center;
    width: 12.5rem;
    padding: 1.5rem;
  }
  .mainProductos {
    display: grid;
    grid-template-areas: "Titulo Titulo Titulo Titulo" "Productos Productos Productos Productos" "Imagenes Imagenes Imagenes Imagenes" "Comida Comida Comida Comida" "Bebida Bebida Bebida Bebida" "Limpieza Limpieza Limpieza Limpieza" "Regalería Regalería Regalería Regalería";
  }
  .mainProductos .nombreProductos {
    height: 100vh;
    width: 98.9vw;
  }
  .mainProductos .nombreProductos h1, .mainProductos .nombreProductos h2 {
    margin-left: 4rem;
  }
  .mainProductos .imgsections img {
    height: 10.5rem;
    width: 10.5rem;
  }
  .mainProductos section h2 {
    margin-top: 3rem;
    margin-left: 4rem;
  }
  .mainProductos section p {
    margin-left: 4rem;
    margin-bottom: 8rem;
  }
  .mainMisCompras {
    display: grid;
    grid-template-areas: "Titulo Titulo Titulo Titulo" "MisCompras MisCompras MisCompras MisCompras";
  }
  .mainHistorial {
    display: grid;
    grid-template-areas: "Titulo Titulo Titulo Titulo" "Historial Historial Historial Historial";
  }
  .mainSobreNosotros {
    display: grid;
    grid-template-areas: "Titulo Titulo Titulo Titulo" "NuestraHistoria NuestraHistoria NuestraHistoria NuestraHistoria" "Historia Historia Historia Historia";
    grid-template-columns: 2fr 2fr 2fr 2fr;
  }
  .mainSobreNosotros aside {
    grid-area: Aside;
    display: block;
  }
  .mainSobreNosotros .nombreQuienesSomos {
    display: flex;
    justify-content: start;
    align-items: flex-start;
    flex-direction: column;
    height: 100vh;
    width: 98.9vw;
    background-image: url(../imágenes/fondo4.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .mainSobreNosotros .nombreQuienesSomos h1 {
    font-size: 3.5rem;
    color: white;
    margin: 5rem 0 2rem 3.5rem;
    font-weight: bold;
  }
  .mainSobreNosotros .nombreQuienesSomos p {
    display: block;
    text-align: start;
    margin: 0 40rem 0 3.5rem;
    font-size: 1.5rem;
    color: white;
  }
  .mainSobreNosotros .historia .displayP {
    display: none;
  }
  .mainSobreNosotros .historia div div {
    margin-right: 6rem;
  }
  .mainContactos {
    display: grid;
    grid-template-areas: "Titulo Titulo Titulo Titulo" "Subtitulo Subtitulo Subtitulo Subtitulo" "Ubicacion Ubicacion Ubicacion Ubicacion" "Redes Redes Redes Redes" "Formulario Formulario Formulario Formulario";
  }
  .mainContactos .nombreContactos {
    align-items: flex-start;
    height: 100vh;
    width: 98.9vw;
    background-image: url(../imágenes/fondo6.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .mainContactos .nombreContactos h1 {
    margin: 5rem 0 2rem 3.5rem;
    font-size: 3.5rem;
  }
  .mainContactos .nombreContactos p {
    text-align: start;
    margin: 0 45rem 0 3.5rem;
    font-size: 1.5rem;
    color: white;
  }
  .mainContactos h1 {
    text-align: start;
  }
  .mainContactos .divUbicacion {
    text-align: start;
  }
  .mainContactos .divRedes h3 {
    text-align: start;
  }
  .mainContactos .divRedes div a img {
    transition: all 0.5s;
  }
  .mainContactos .form h3 {
    text-align: start;
  }
  .mainContactos .form section article form {
    display: flex;
    flex-direction: column;
  }
  .mainContactos .form section article form input {
    margin-bottom: 1rem;
  }
}/*# sourceMappingURL=style.css.map */